#
# ~/.bashrc
#

# Enable dynamic line wrap
shopt -s checkwinsize

#################
# General Aliases

# Navigational

alias ..='cd ..'
alias ...='cd ..; cd ..'
alias ....='cd ..; cd ..; cd ..'
alias g='cd'
alias r='cd "$OLDPWD"'
alias l='ls --color=auto'
alias ll='ls -lh --color=auto'
alias lll='ls -lAh --color=auto'
alias q='exit'

# Frequently Used

alias c='clear'
alias e='"$EDITOR"'

####################
# Host-specific Info

{{ if eq .hosttype "dev" -}}
# Git-specific Aliases

alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gb='git branch'
alias gch='git checkout'
alias gpl='git pull'
alias gps='git push'

git_info() {
BRANCH="$(git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\1/')"
if [[ -n "${BRANCH}" ]]; then
    STAT=$(
    git status 2>/dev/null | (
        unset dirty deleted untracked newfile ahead renamed
        while read line; do
            case "$line" in
                *modified:*) dirty='!' ;;
                *deleted:*) deleted='-' ;;
                *'new file:'*) newfile='+' ;;
                *renamed:*) renamed='*' ;;
                *'Untracked files:'*) untracked='?' ;;
                *'branch is ahead'*) ahead='>' ;;
                *'branch is behind'*) behind='<' ;;
            esac
        done
        BITS="$dirty$deleted$newfile$renamed$untracked$ahead$behind"
        [[ -n "$BITS" ]] && echo -n " $BITS"
)
)
    echo -ne "-[\e[33m${BRANCH}${STAT}\e[m]"
fi
}

# Command Prompt
export PS1="[\[\e[36m\]\t\[\e[m\]]-[\[\e[32m\]\u\[\e[m\]\[\e[32m\]@\[\e[m\]\[\e[32m\]\h\[\e[m\]]-[\[\e[35m\]\W\[\e[m\]]\$(git_info)\n\\$> "

{{- else if eq .hosttype "srv" -}}
# Command Prompt
export PS1="[\[\e[36m\]\t\[\e[m\]]-[\[\e[32m\]\u\[\e[m\]\[\e[32m\]@\[\e[m\]\[\e[32m\]\h\[\e[m\]]-[\[\e[35m\]\W\[\e[m\]]\n\\$> "

{{- end }}
