#
# ~/.bashrc
#

# Enable dynamic line wrap
shopt -s checkwinsize

#################
# General Aliases

# Navigational

alias ..='cd ..'
alias ...='cd ..; cd ..'
alias ....='cd ..; cd ..; cd ..'
alias g='cd'
alias r='cd "$OLDPWD"'
alias l='ls --color=auto'
alias ll='ls -lh --color=auto'
alias lll='ls -lAh --color=auto'
alias q='exit'

# Frequently Used

alias c='clear'
alias e='"$EDITOR"'

####################
# Host-specific Info

{{ if eq .hosttype "dev" -}}
# Git-specific Aliases

alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gb='git branch'
alias gch='git checkout'
alias gpl='git pull'
alias gps='git push'

parse_git_status() {
status="$(git status 2>&1 | tee)"
dirty="$(echo -n "${status}" 2> /dev/null | grep "modified:" &> /dev/null; echo "$?")"
untracked="$(echo -n "${status}" 2> /dev/null | grep "Untracked files" &> /dev/null; echo "$?")"
ahead="$(echo -n "${status}" 2> /dev/null | grep "branch is ahead" &> /dev/null; echo "$?")"
newfile="$(echo -n "${status}" 2> /dev/null | grep "new file:" &> /dev/null; echo "$?")"
renamed="$(echo -n "${status}" 2> /dev/null | grep "renamed:" &> /dev/null; echo "$?")"
deleted="$(echo -n "${status}" 2> /dev/null | grep "deleted:" &> /dev/null; echo "$?")"
bits=""
[[ "${deleted}" -eq 0 ]] && bits="-${bits}"
[[ "${renamed}" -eq 0 ]] && bits="*${bits}"
[[ "${newfile}" -eq 0 ]] && bits="+${bits}"
[[ "${ahead}" -eq 0 ]] && bits=">${bits}"
[[ "${untracked}" -eq 0 ]] && bits="?${bits}"
[[ "${dirty}" -eq 0 ]] && bits="!${bits}"
if [[ -n "${bits}" ]]; then
    echo -n " ${bits}"
else
    echo -n ""
fi
}
parse_git_branch() {
BRANCH="$(git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\1/')"
if [[ -n "${BRANCH}" ]]; then
    STAT="$(parse_git_status)"
    echo -ne "-[\e[33m${BRANCH}${STAT}\e[m]"
else
    echo -n ""
fi
}

# Command Prompt
export PS1="[\[\e[36m\]\t\[\e[m\]]-[\[\e[32m\]\u\[\e[m\]\[\e[32m\]@\[\e[m\]\[\e[32m\]\h\[\e[m\]]-[\[\e[35m\]\W\[\e[m\]]\$(parse_git_branch)\n\\$> "

{{- else if eq .hosttype "srv" -}}
# Command Prompt
export PS1="[\[\e[36m\]\t\[\e[m\]]-[\[\e[32m\]\u\[\e[m\]\[\e[32m\]@\[\e[m\]\[\e[32m\]\h\[\e[m\]]-[\[\e[35m\]\W\[\e[m\]]\n\\$> "

{{- end }}
